extends ../layout

block content
  form.form-inline.form-horizontal(method="post" action="/")
    div.container
      h1.text-center.my-3 登録完了
      div.text-center
        button.btn.btn-primary ホームに戻る